* {
	box-sizing: border-box;
  }

  body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Wittgenstein", serif;
  }

  .container {
	max-width: 1440px;
	margin: 0 auto;
  }

  .nav-list {
	display:flex;
	align-items: center;
	padding: 5px;
	list-style: none;
  }

  .nav-link {
	padding: 0 20px;
	line-height: 50px;
  }

  html {
	scroll-behavior: smooth;
  }

  .section-item a {
	color: #829985;
	text-decoration: none;
	transition: color 0.5s;
  }
  .section-item a:hover {
	color: #4d2323;
  }

  .main-container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .section {
	width: 50%;
  }

  @media (max-width: 768px) {
	.section {
	  width: 100%;
	}
  }

  /* пример стилизации шрифта */
  body {
	font-family: "Wittgenstein", serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #4d2323;
  }

  /* пример стилизации заголовка */
  .section-title {
	font-family: "Ga Maamli", sans-serif;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #829985;
  }

  /* пример стилизации ссылок */
  .link {
	text-decoration: none;
	color: #829985;
	transition: color 0.5s;
  }
  
  .link:hover {
	color: #5d7260;
  }
